{#=== Options ============================================================================#}

{% set attr_opt = {
    class:          field.class|default(),
    placeholder:    field.placeholder|default(__("Soundcloud Slug (Profile) eg.: shatopaulrockseek")),
    name_id:        key,
    required:       field.required|default(false),
    readonly:       field.readonly|default(false),
    value:          field.value|default(""),
    type:           'text'
}%}

{% set value = context.content.get(key|capitalize)|default('') %}


{#=== FIELDSET ============================================================================#}

<legend class="sr-only">Soundcloud Slug</legend>
<label class="control-label">{{ field.label|default(key|humanize) }}</label>

<input class="form-control" value="{{ value.slug|default() }}" {{ macro.attr(attr_opt) }}>
